* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #4fbba0 1.18%, #26d365 100%);
  color: #fff;
  padding: 20px;
}

.header--img {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 24px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--input {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #4fbba0 1.18%, #26d365 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.meme--image {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  display: block;
}
